<form ng-controller='addController' name="addForm">
<table class="table">
<thead>
    <tr>
    	<th colspan="2">Add Employee</th>
    </tr>
</thead>
<tbody>
	<tr>
		<td>Name</td>
		<td><input type="text" name="empName" id="empName" ng-model='model.empName' required maxlength="20"/></td>
	</tr>
	<tr>
		<td>Gender</td>
		<td><input type="text" name="empGender" id="empGender" ng-model='model.empGender' required/></td>
	</tr>
	<tr>
		<td>Mobile</td>
		<td><input type="number" name="empMobile" id="empMobile" ng-model='model.empMobile' maxlength="10" required/></td>
	</tr>
	<tr>
		<td>Email</td>
		<td><input type="email" name="empEmail" id="empEmail" ng-model='model.empEmail' required/></td>
	</tr>
	<tr>
		<td>Age</td>
		<td><input type="number" name="empAge" id="empAge" ng-model='model.empAge' required/></td>
	</tr>
	<tr>
		<td>Address</td>
		<td><textarea name="empAddress" id="empAddress" ng-model='model.empAddress'></textarea></td>
	</tr>
	<tr>
		<td>Department</td>
		<td><input type="text" name="department" id="department" ng-model='model.department' required/></td>
	</tr>
	<tr>
		<td>Salary</td>
		<td><input type="number" name="empSalary" id="empSalary" placeholder="Decimal" ng-model="model.empSalary" *step="0.01"*  required/></td>
	</tr>
	<tr align="center">
		<td>
			<button name="submit" id="submit" ng-click="addEmployee()" class="btn btn-primary">Submit</button>&nbsp;&nbsp;
			<a ng-href='#/dashboard' class="btn btn-danger">Cancel</a>
		</td>
		<td>
			
		</td>
	</tr>
	</tbody>
</table>
</form>