<div ng-controller="dashboardController">
      	<h4 align="right">Search: <input type="text" ng-model="searchText"/></h4>
<table class="table">
    <thead>
    <tr>
    	<th colspan="5">List of employees</th>
    </tr>
    
      <tr>
      	<th>ID</th>
      	<th>Name</th>
      	<th>Gender</th>
      	<th>Email ID</th>
      	<th>Department</th>
      	<th>Salary</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="employee in employeeList | filter:searchText">
      <td><a ng-href="#/employeeDetails/{{$index}}">{{employee.empid}}</a></td>
        <td>{{employee.empName}}</td>
        <td>{{employee.empGender}}</td>
        <td>{{employee.empEmail}}</td>
        <td>{{employee.department}}</td>
        <td>{{employee.empSalary | currency}}</td>
      </tr>
      <tr>
      <td>
      	<a ng-href='#/addEmployee' class="btn btn-success btn-sm">Add Employee</a>
      </td>
      </tr>
      <!-- <tr ng-repeat="employee in employeeList">
      <td>{{employee.user}}</td>
        <td>{{employee.pass}}</td>
      </tr> -->
    </tbody>
  </table>
</div>
