<div ng-controller='dashboardController'>
<table class="table">
<thead>
    <tr>
    	<th colspan="2">Employee Details</th>
    </tr>
</thead>
<tbody>
	<tr>
		<td>Employee ID</td>
		<td>{{employee.empid}}</td>
	</tr>
	<tr>
		<td>Name</td>
		<td>{{employee.empName}}</td>
	</tr>
	<tr>
		<td>Gender</td>
		<td>{{employee.empGender}}</td>
	</tr>
	<tr>
		<td>Mobile</td>
		<td>{{employee.empMobile}}</td>
	</tr>
	<tr>
		<td>Email</td>
		<td>{{employee.empEmail}}</td>
	</tr>
	<tr>
		<td>Age</td>
		<td>{{employee.empAge}}</td>
	</tr>
	<tr>
		<td>Address</td>
		<td>{{employee.empAddress}}</td>
	</tr>
	<tr>
		<td>Department</td>
		<td>{{employee.department}}</td>
	</tr>
	<tr>
		<td>Salary</td>
		<td>{{employee.empSalary}}</td>
	</tr>
	</tbody>
</table>

<a ng-href='#/dashboard' class="btn btn-success btn-sm">Back</a>
</div>