<form ng-controller="loginController" name='form'>

<table class='table table-padding'>
<thead>
	<th><h4>Login Form</h4></th>
</thead>
<tbody>
<tr>
<td>Username</td>
<td><input type="text" name="user" id="user" ng-model='model.user' required/>
	<span ng-show="form.$submitted">
      <span ng-show="form.user.$invalid">Username is required.</span>
    </span>
</td>
</tr>
<tr>
<td>Password</td>
<td><input type="password" name="pass" id="pass" ng-model='model.pass' required/></td>
</tr>
<tr>
<td><input type="submit" name="submit" id="submit" ng-click="getEmployees()" class="btn btn-primary" value="Login"></input></td>
<!-- ng-disabled="form.user.$invalid || form.pass.$invalid" -->
</tr>
</tbody>
</table>
</form>