.table-padding{
	align:'center'
	margin: 10px 20px 0 0;
}

  input.ng-invalid.ng-touched {
    border-color: #ff0000;
  }

  input.ng-valid.ng-touched {
    border-color:#006600;
    border-style: solid;
  }